extends ./../base

block content 
        .row 
            each landPad in landPads
                .col(style="height:30vh;")
                    .card(style="width:100vw;")
                        //- img(src=`${landPad.image}` class="card-img-top"  alt="...")
                        .card-body 
                            h1.card-title #{landPad.fullname} (#{landPad.name})
                            p.card-text want to know more about #{landPad.name}?
                            a(href=`/landPads-details/${landPad._id}`).btn.btn-outline-warning click here
       

